COMPOSE_PROJECT_NAME=snik
DBA_PASSWORD=changeme
# theory: lower number for less RAM usage but slower queries, see https://vos.openlinksw.com/owiki/wiki/VOS/VirtRDFPerformanceTuning
# in practice we get much higher performance and similar RAM usage with a high value, so we use the values recommended for 8 GB RAM as default
# numbers below measured on HITO, which as a similar size
# NUMBEROFBUFFERS	MAXDIRTYBUFFERS	INITIAL		DURING AND AFTER HEAVY USE
# 40000				24000			88 MB		590 MB
# 680000			500000			111 MB		570 MB
VIRT_PARAMETERS_NUMBEROFBUFFERS=680000
VIRT_PARAMETERS_MAXDIRTYBUFFERS=500000
COMPOSE_PROFILES=virtuoso,rickview,graph
